<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Healty Eating</title>

<!-- meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Page Styling -->
<link rel="stylesheet" th:href="@{/css/foodinfo.css}">
<link rel="stylesheet" th:href="@{/css/nav.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">


</head>


<body>

	<!------------------------ Navbar--------------------------->
	<div th:replace="nav :: navbar"></div>


	<!-- Page -->

	<div class="foodinfo_title">
		<h1>Healthy Eating</h1>
	</div>

	<div class="container features">
		<div class="foodinfo_title">
			<h3>Tips for Healthy Eating</h3>
		</div>

		&nbsp;

		<div class="row">
			<div class="col-lg-6 col-md-4 col-sm-12">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Quisque interdum quam odio, quis placerat ante luctus eu. Sed
					aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Quisque interdum quam odio, quis placerat ante luctus eu. Sed
					aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Quisque interdum quam odio, quis placerat ante luctus eu. Sed
					aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Quisque interdum quam odio, quis placerat ante luctus eu. Sed
					aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Quisque interdum quam odio, quis placerat ante luctus eu. Sed
					aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Quisque interdum quam odio, quis placerat ante luctus eu. Sed
					aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
			</div>
		</div>
	</div>


	<div class="container features">
		<div class="foodinfo_title">
			<h3>Healthy Recipes and Snacks</h3>
		</div>

		&nbsp;

		<h4>Lorem ipsum</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet
			dolor id sapien rutrum, id vulputate quam iaculis.</p>
		&nbsp;
		<h4>Lorem ipsum</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet
			dolor id sapien rutrum, id vulputate quam iaculis.</p>
		&nbsp;
		<h4>Lorem ipsum</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet
			dolor id sapien rutrum, id vulputate quam iaculis.</p>
		&nbsp;
		<h4>Lorem ipsum</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet
			dolor id sapien rutrum, id vulputate quam iaculis.</p>
		&nbsp;
		<h4>Lorem ipsum</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet
			dolor id sapien rutrum, id vulputate quam iaculis.</p>
		&nbsp;
		<h4>Lorem ipsum</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet
			dolor id sapien rutrum, id vulputate quam iaculis.</p>
	</div>


	<!-- footer -->
	<div th:replace="footer :: footer"></div>
	<!--End of Footer -->


	<script src="jquery-3.3.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>



</body>


</html>