.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}


/*---------------------- Navbar -------------------------*/

.nav-link,
.dropdown-item {
    font-size: 16px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff !important;
    font-weight: 700;
    margin: 5px;
}


/*---------------------- Dropdownmenu -------------------------*/

.dropdown-menu {
    font-size: 14px;
    margin: 3px;
    background: rgb(228, 93, 3);
}


/*---------------------- Hover Effects -------------------------*/

.nav-link:hover {
    color: rgb(122, 218, 13) !important;
}

.dropdown-item:hover {
    color: rgb(122, 218, 13) !important;
}


/*---------------------- Logo -------------------------*/

.navbar-brand img {
    margin: 0 auto;
    height: 100px;
    width: 110px;
    background-color: #fff;
    background-position: top;
    border: 1px solid transparent;
    border-radius: 50px;
}


/*---------------------- Search bar-------------------------*/

.dropdown-menu {
    margin-top: 0;
}

.form-group input {
    top: 134px;
    position: absolute;
    left: 73%;
    width: 22%;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 200;
    text-decoration: inherit;
    padding: 5px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #ddd;
    border-radius: 4px;
}